<%= render :partial => 'story' %>
<h2>Who rolled it?</h2>
<ul>
<% @story.users.each do |user| %>
  <li><%= user.login %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
